<div style="margin-top: 20px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'label.settings' | translate }}</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">



        <mat-form-field style="width: 100%;">
          <mat-label>{{'name' | translate }}</mat-label>
          <input autocomplete="off" matInput type="text" placeholder="{{'name' | translate }}" required
            formControlName="Name">
        </mat-form-field>
        <mat-divider></mat-divider>


  
        <mat-form-field style="width: 100%;">
          <mat-label>{{'sex' | translate }}</mat-label>
          <mat-select formControlName="Sex">
            <mat-option *ngFor="let item of sex" [value]="item">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>



        <mat-form-field style="width: 100%;">
          <mat-label>{{'timezone' | translate }}</mat-label>
          <mat-select formControlName="TimeZone">
            <mat-option *ngFor="let item of timezones" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>


        <mat-form-field style="width: 100%;">
          <mat-label>{{'language' | translate }}</mat-label>
          <mat-select formControlName="Language">
            <mat-option *ngFor="let item of languages" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>


        <mat-form-field  style="width: 100%;">
          <mat-label>{{'birthday' | translate }}</mat-label>
          <input matInput formControlName="Birthday" [matDatepicker]="picker" readonly="" >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-divider></mat-divider>

        <mat-form-field style="width: 100%;">
          <mat-label>{{'phone' | translate }}</mat-label>
          <input autocomplete="off" matInput type="phone" placeholder="{{'phone' | translate }}" required
            formControlName="PhoneNumber">
        </mat-form-field>

        <mat-divider></mat-divider>



        <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>

        <br>
        <button cdkFocusInitial mat-raised-button color="primary">{{'send' | translate }}l</button>
        <br>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<div>
</div>