<div> </div>

<div>
    <mat-card>
        <mat-card-title>Reset</mat-card-title>
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">


                <mat-form-field class="full-w">
                    <input autocomplete="off" autocomplete="new-password" matInput type="email"
                        placeholder="Choose name" formControlName="email" required>
                    <mat-hint *ngIf="form.get('email').touched && form.get('email').invalid">
                        <small *ngIf="form.get('email').errors.required">Name required</small>

                    </mat-hint>
                </mat-form-field>

            


                <br>
                <br>
                <mat-divider></mat-divider>
                <br>
                <!-- <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores dicta sit perferendis sequi a optio velit, eligendi non ad possimus illum repudiandae odio rem error nisi numquam. Cumque, quod?</small>
 -->

                <button cdkFocusInitial [disabled]="form.invalid " mat-raised-button color="primary">Save
                    Pil</button>
                <br>
                <br>
                <mat-card-subtitle><a  [routerLink]="['/login']"> Login </a></mat-card-subtitle>
                <mat-card-subtitle><a  [routerLink]="['/register']"> register  </a></mat-card-subtitle>

            </form>

        </mat-card-content>
    </mat-card>
</div>


<div>
</div>